workflows/7o4Kl1SyAQ1Hcz4L.json
{
  "active": false,
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-22T19:07:47.125Z",
  "id": "7o4Kl1SyAQ1Hcz4L",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RAG Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1PNjRDNvillSbzEEK47_oupa6w2sC6OcH",
          "mode": "list",
          "cachedResultName": "FAX",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1PNjRDNvillSbzEEK47_oupa6w2sC6OcH"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1024,
        -504
      ],
      "id": "2eeb40eb-7beb-47c1-ac08-37a93623d214",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kwGqMMxYEEMUmuBp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -800,
        -504
      ],
      "id": "27f2b9fc-3406-4093-aef6-c96c24ed0175",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "kwGqMMxYEEMUmuBp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-1536",
          "mode": "list",
          "cachedResultName": "rag-1536"
        },
        "options": {
          "pineconeNamespace": "FAX"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -576,
        -608
      ],
      "id": "f8c55926-f005-4183-af0a-6e05061a432e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "FUN79tWvt18ntEWa",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -544,
        -384
      ],
      "id": "d1e049a9-bc25-45d0-863a-0508adb22143",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "i5Myn9kqddu3OAMJ",
          "name": "OpenAi github"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -416,
        -384
      ],
      "id": "fe492a7d-a8ab-4903-bd26-1713481fcf39",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Use knowledge base to answer queries"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        208,
        -624
      ],
      "id": "b9bb3317-b341-47f3-83a8-b28a7adb4a5f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        -624
      ],
      "id": "e4484ed2-4f82-4f79-a2e9-d66966635f8f",
      "name": "When chat message received",
      "webhookId": "94d76a71-a8bb-43cc-82fe-3c017a061355"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        192,
        -400
      ],
      "id": "c41565c6-eae5-4d46-876d-b953bb622525",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "i5Myn9kqddu3OAMJ",
          "name": "OpenAi github"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to describe queries from the document",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-1536",
          "mode": "list",
          "cachedResultName": "rag-1536"
        },
        "topK": 5,
        "options": {
          "pineconeNamespace": "FAX"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        320,
        -400
      ],
      "id": "284a261d-e003-4ca6-a415-c82ca040bfd2",
      "name": "Knowledge base",
      "credentials": {
        "pineconeApi": {
          "id": "FUN79tWvt18ntEWa",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        -192
      ],
      "id": "ebc28c86-48bf-4264-a71e-a0ef9959c105",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "i5Myn9kqddu3OAMJ",
          "name": "OpenAi github"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-26T12:56:08.000Z",
  "versionId": "cb81a0cf-c0ca-47f3-962c-de1d32267bc7"
}