workflows/gC9UJd5qfJAC2m12.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Get Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Get Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Get Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Get Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-16T10:59:47.980Z",
  "id": "gC9UJd5qfJAC2m12",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ATS Optimised Resume Agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Resume",
        "formDescription": "Upload your resume and desired job description",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Resume",
              "fieldType": "file",
              "requiredField": true
            },
            {
              "fieldLabel": "Job Description",
              "placeholder": "Paste job description here",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "112fd3dc-1ef0-4c72-985c-84778d56f82f",
      "name": "On form submission",
      "webhookId": "60b77e49-5856-41e2-a63c-a8ac12d97368"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Resume[0].filename }}",
                    "rightValue": ".xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d26d48ba-a3fa-482d-bba7-c360d5b3c2a3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EXCEL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "856509aa-2935-4b88-992d-5ef57d66c458",
                    "leftValue": "={{ $json.Resume[0].filename }}",
                    "rightValue": ".txt",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4d441593-ea7d-4380-9c0c-69ba83c848f1",
                    "leftValue": "={{ $json.Resume[0].filename }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f977af6d-55da-429e-a41c-6fd7794665c2",
                    "leftValue": "={{ $json.Resume[0].filename }}",
                    "rightValue": ".csv",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1b7fe36a-7885-4d7b-88dc-20882c3e4bf0",
                    "leftValue": "={{ $json.Resume[0].filename }}",
                    "rightValue": ".docx",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOCX"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        208,
        0
      ],
      "id": "b7376fe2-0380-4fea-8b81-8de2b681459c",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        528,
        -256
      ],
      "id": "3012d137-190b-4ba1-b63f-049ec4ba3dfc",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        528,
        -96
      ],
      "id": "91e539c2-b1c1-4d68-a5f7-2cabd0969a1d",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        528,
        48
      ],
      "id": "17e84434-072f-454e-8ad4-1d89d2a44328",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "binaryPropertyName": "Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        528,
        208
      ],
      "id": "384fb10c-0122-4479-abcb-c66e0a129d10",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c9c6ea7-fa80-4dba-a837-6cdcdaee8de4",
              "name": "JobDescription",
              "value": "={{ $json['Job Description'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        496
      ],
      "id": "0b6071d2-c13a-4176-9da9-efeb46252176",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cce85ef5-5598-4e2e-be62-a8bb39b0752a",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        48
      ],
      "id": "c41047df-819c-4348-b51c-9f1de5553772",
      "name": "Get Text"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1264,
        64
      ],
      "id": "142527a1-6f11-4029-b63d-76a8f64977ae",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=RESUME JSON:\n {{ $json.text }}\nJOB DESCRIPTION:\n{{ $json.JobDescription }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert resume screen­er and writer specializing in Applicant Tracking Systems (ATS). \nYour job: Given (A) a parsed resume JSON and (B) a job description, perform BOTH a matching analysis and \nresume rewriting in one pass.\n\nRules:\n- Only use truthful information from the provided resume JSON.\n- Identify missing but relevant keywords from the job description and integrate them naturally into the rewritten resume.\n- Structure the rewritten resume in ATS-friendly format (Contact Info, Summary, Skills, Experience, Education, Certifications).\n- Avoid tables or columns; keep it simple text/HTML.\n- Ensure formatting converts well to PDF.\n- Use consistent headings.\n- Output structured markdown that has BOTH:\n    Analysis: [\n        overall_score, \n        criteria_scores, \n        matched_keywords, \n        missing_keywords, \n        rationale\n    ],\n    new resume text, formatted neatly\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1488,
        32
      ],
      "id": "07852ffd-f3fb-4d36-8fa4-477badede240",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1488,
        272
      ],
      "id": "544ba94f-ad71-4d20-8e8e-ed92befcad12",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Ar6JWqLZtn81WF6U",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://md2doc.n8n.aemalsayer.com ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "output",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        32
      ],
      "id": "4257a022-1b56-407d-9410-486a75671069",
      "name": "HTTP Request",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "SCmqWBaaYMRicKFb",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "## MarkDown to Doc\n\nCustom API Call to convert Markdown text into Google Doc\n[GitHub Repo](https://github.com/aemal/n8n-md-to-docs)",
        "height": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        -96
      ],
      "typeVersion": 1,
      "id": "54665a82-89cc-4428-8007-f58d50e2e5ab",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Combine\nCombine by position works.\n### Original setting:\nAppend\n### Problem encountered:\nOnly first item was recognised by agent\n2x2 grid of JD and text\n2 spaces were undefined",
        "height": 448,
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        -176
      ],
      "typeVersion": 1,
      "id": "ab853bc4-045c-4534-919c-286187e475d9",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-16T12:45:04.000Z",
  "versionId": "58fdd662-5bd1-4128-99dc-cc77e29b9d33"
}